@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
}

header, #mobileNav {
  background-color: #fff;
}

header .ctaBtn, #mobileNav .ctaBtn {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff !important;
  background-color: #000;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  border: 1px solid #000;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

header .ctaBtn:hover, #mobileNav .ctaBtn:hover {
  background-color: transparent;
  color: #000 !important;
  -webkit-text-decoration: none i !important;
     -moz-text-decoration: none i !important;
          text-decoration: none i !important;
}

header .container, #mobileNav .container {
  padding: 20px 0;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo h3, #mobileNav .container .logo h3 {
  font-weight: 900;
}

header .container .logo h3 a, #mobileNav .container .logo h3 a {
  color: #000;
  text-decoration: none;
}

header .container nav a, #mobileNav .container nav a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
  margin: 0 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

header .container nav a:hover, #mobileNav .container nav a:hover {
  text-decoration: underline;
}

header .container .hamburger, #mobileNav .container .hamburger {
  text-align: center;
}

header .container .hamburger .line, #mobileNav .container .hamburger .line {
  background-color: #000;
  height: 1px;
  width: 20px;
  margin: 8px 0;
}

header .container .hamburger nav, #mobileNav .container .hamburger nav {
  position: absolute;
  top: -1000%;
  left: 0;
  z-index: -10;
  width: 100vw;
  background-color: #fff;
  -moz-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 0 30px 0;
}

header .container .hamburger nav.toggle, #mobileNav .container .hamburger nav.toggle {
  top: 100%;
}

header .container .hamburger nav a, #mobileNav .container .hamburger nav a {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  margin: 20px 0;
  font-weight: 700;
  letter-spacing: 2px;
}

header .container .hamburger nav a.ctaBtn, #mobileNav .container .hamburger nav a.ctaBtn {
  width: 200px;
  margin: 0 auto;
}

header .container .hamburger nav a:hover, #mobileNav .container .hamburger nav a:hover {
  text-decoration: underline;
}

#mobileNav {
  display: none;
  position: relative;
  background-color: #fff;
  z-index: 999;
}

#mobileNav .container {
  padding: 20px 40px;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #mobileNav {
    display: block;
  }
}

#banner .container .banner {
  height: 600px;
}

@media screen and (max-width: 768px) {
  #banner .container .banner {
    height: auto;
  }
}

#banner .container .banner .content {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#banner .container .banner .content.black {
  background-color: #000 !important;
  color: #fff;
}

#banner .container .banner .content .contentContainer {
  width: 45%;
  padding: 0 100px;
}

@media screen and (max-width: 1300px) {
  #banner .container .banner .content .contentContainer {
    padding: 0 80px;
  }
}

@media screen and (max-width: 768px) {
  #banner .container .banner .content .contentContainer {
    width: 100%;
    padding: 100px;
  }
}

@media screen and (max-width: 525px) {
  #banner .container .banner .content .contentContainer {
    padding: 50px;
  }
}

#banner .container .banner .content .contentContainer h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 20px 0;
}

@media screen and (max-width: 1300px) {
  #banner .container .banner .content .contentContainer h1 {
    font-size: 30px;
  }
}

#banner .container .banner .content .contentContainer p {
  font-size: 18px;
  margin: 0 0 30px 0;
}

#banner .container .banner .content .contentContainer a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 4px;
  font-weight: 700;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#banner .container .banner .content .contentContainer a.cBlack {
  color: #fff;
}

#banner .container .banner .content .contentContainer a:hover {
  color: #a1a1a1;
}

#banner .container .banner .content .image {
  width: 55%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 769px) {
  #banner .container .banner .content .image {
    width: 100%;
  }
}

#banner .container .banner .content .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#latest {
  height: 650px;
}

#latest .container {
  height: 100%;
  width: 100%;
}

#latest .container .content {
  height: 100%;
  width: 100%;
  position: relative;
}

#latest .container .content .latestImage {
  width: 100%;
  height: 100%;
}

#latest .container .content .latestImage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#latest .container .content .latestImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#latest .container .content .latestInfo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  width: 80%;
  padding-left: 100px;
}

@media screen and (max-width: 425px) {
  #latest .container .content .latestInfo {
    padding-left: 40px;
  }
}

#latest .container .content .latestInfo .featured {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff !important;
}

#latest .container .content .latestInfo h1 {
  font-size: 28px;
  line-height: 1.4;
  margin: 20px 0;
}

#latest .container .content .latestInfo p {
  font-size: 14px;
  color: #e6e6e6;
  margin: 0 0 20px 0;
}

#latest .container .content .latestInfo a {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

#latest .container .content .latestInfo a:hover {
  text-decoration: underline;
}

#stories .container {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#stories .container .story {
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 25%;
  height: 500px;
}

@media screen and (max-width: 768px) {
  #stories .container .story {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  #stories .container .story {
    width: 100%;
    height: 550px;
  }
}

#stories .container .story .content {
  height: 100%;
  width: 100%;
  position: relative;
}

#stories .container .story .content .image {
  height: 100%;
  width: 100%;
  position: relative;
}

#stories .container .story .content .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#stories .container .story .content .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#stories .container .story .content .info {
  position: absolute;
  color: #fff;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 30px 20px;
}

#stories .container .story .content .info h2 {
  font-size: 16px;
  margin: 8px 0;
}

#stories .container .story .content .info p {
  font-size: 12px;
}

#stories .container .story .content .info .divider {
  margin: 10px 0;
  height: 1px;
  width: 100%;
  background: #fff;
}

#stories .container .story .content .info a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

#features {
  margin: 60px auto;
}

#features .container {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  #features .container {
    width: 90%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

#features .container .card {
  width: 33.33%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding: 25px;
  text-align: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 550px) {
  #features .container .card {
    width: 50%;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 425px) {
  #features .container .card {
    width: 100%;
  }
}

#features .container .card .icon {
  width: 50px;
  height: 50px;
}

#features .container .card .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#features .container .card .content h3 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 15px;
}

#features .container .card .content p {
  font-size: 14px;
  line-height: 1.5;
}

#invite {
  height: 300px;
  width: 100%;
}

#invite .container {
  width: 100%;
  height: 100%;
  position: relative;
}

#invite .container .image {
  height: 100%;
  width: 100%;
}

#invite .container .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#invite .container .overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  opacity: 0.85;
}

#invite .container .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  padding: 0 100px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  #invite .container .content {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
}

@media screen and (max-width: 425px) {
  #invite .container .content {
    padding: 0 30px;
  }
}

#invite .container .content h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

@media screen and (max-width: 950px) {
  #invite .container .content h1 {
    font-size: 32px;
  }
}

#invite .container .content a {
  font-size: 14px;
  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

#invite .container .content a:hover {
  cursor: pointer;
}

footer {
  background-color: #000;
  color: #fff;
}

footer .container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

@media screen and (max-width: 650px) {
  footer .container {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 50px;
  }
}

footer .container .left {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  text-align: left;
}

@media screen and (max-width: 425px) {
  footer .container .left {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

footer .container .left .footerContent {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 425px) {
  footer .container .left .footerContent {
    gap: 30px;
  }
}

footer .container .left .footerContent .logo {
  font-size: 12px;
  font-weight: 900;
}

footer .container .left .footerContent .social {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

footer .container .left .footerLinks {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

footer .container .left .footerLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  margin: 0 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

footer .container .left .footerLinks a:hover {
  text-decoration: underline;
}

footer .container .right {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 650px) {
  footer .container .right {
    text-align: center;
    gap: 20px;
  }
}

footer .container .right .top a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
}

footer .container .right .bottom p {
  font-size: 12px;
  color: #a1a1a1;
}

#pricing {
  margin: 100px auto;
}

#pricing .plan {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pricing .plan p {
  font-size: 18px;
  font-weight: 700;
  color: #a1a1a1;
}

#pricing .plan p.active {
  color: #000;
}

#pricing .plan .switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

#pricing .plan .switch .slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #DFDFDF;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

#pricing .plan .switch .slider:before {
  border-radius: 50%;
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #000;
  -moz-transition: .4s;
  transition: .4s;
}

#pricing .plan .switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

#pricing .plan .switch input:checked + .slider {
  background-color: #000;
}

#pricing .plan .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#pricing .plan .switch input:checked + .slider:before {
  background: #fff;
  -webkit-transform: translateX(34px);
     -moz-transform: translateX(34px);
      -ms-transform: translateX(34px);
          transform: translateX(34px);
}

#pricing .container {
  margin: 40px auto;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
}

@media screen and (max-width: 425px) {
  #pricing .container {
    padding: 20px;
  }
}

#pricing .container .pricingCard {
  width: 350px;
  height: 400px;
  background-color: #f5f5f5;
  padding: 30px;
  position: relative;
}

#pricing .container .pricingCard.pro {
  height: 470px;
  background-color: #000;
  color: #fff;
}

#pricing .container .pricingCard.pro:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 5px;
  background: -moz-linear-gradient(left, #ffc593, #bc7198 25%, #5a77ff 50%);
  background: linear-gradient(90deg, #ffc593, #bc7198 25%, #5a77ff 50%);
}

#pricing .container .pricingCard.pro a {
  background: #fff !important;
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

#pricing .container .pricingCard.pro a:hover {
  cursor: pointer;
}

#pricing .container .pricingCard h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}

#pricing .container .pricingCard p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

#pricing .container .pricingCard h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 25px 0 5px 0;
}

#pricing .container .pricingCard span {
  display: block;
  font-size: 15px;
  font-weight: 400;
}

#pricing .container .pricingCard a {
  width: 100%;
  font-size: 12px;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  background-color: #000;
  color: #fff;
  margin: 25px 0;
  padding: 10px 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

#pricing .container .pricingCard a:hover {
  background-color: #a1a1a1;
}
/*# sourceMappingURL=styles.css.map */